<?xml version="1.0" encoding="UTF-8"?>
<module>
   <acronym>SD-FS16</acronym>
   <assistant>
      <firstName>Kathrin</firstName>
      <lastName>Blumenthal</lastName>
      <sex>w</sex>
      <shortName>blk1</shortName>
   </assistant>
   <course>
      <name>Java</name>
      <professor>
         <firstName>Stephan</firstName>
         <lastName>Fischli</lastName>
         <sex>m</sex>
         <shortName>fhs1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>Java</shortName>
      <courseWeight>1.8</courseWeight>
   </course>
   <course>
      <name>Datenstrukturen und Algorithmen</name>
      <professor>
         <firstName>Rolf</firstName>
         <lastName>Haenni</lastName>
         <sex>m</sex>
         <shortName>hnr1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>AlgoData</shortName>
      <courseWeight>1.8</courseWeight>
   </course>
   <course>
      <name>Relationale Datenbanken und SQL</name>
      <professor>
         <firstName>Gilles</firstName>
         <lastName>Maitre</lastName>
         <sex>m</sex>
         <shortName>mtg1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>RDB</shortName>
      <courseWeight>1.6</courseWeight>
   </course>
   <course>
      <name>XML Technologien</name>
      <professor>
         <firstName>Beatrice</firstName>
         <lastName>Amrhein</lastName>
         <sex>w</sex>
         <shortName>aeb1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>XML</shortName>
      <courseWeight>1.6</courseWeight>
   </course>
   <course>
      <name>GUI/Ergonomie</name>
      <professor>
         <firstName>Philipp</firstName>
         <lastName>Locher</lastName>
         <sex>m</sex>
         <shortName>loc1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>GUI</shortName>
      <courseWeight>1.6</courseWeight>
   </course>
   <course>
      <name>Projekt</name>
      <professor>
         <firstName>Beatrice</firstName>
         <lastName>Amrhein</lastName>
         <sex>w</sex>
         <shortName>aeb1</shortName>
      </professor>
      <rating>
         <student>
            <dateOfBirth>1966-09-18</dateOfBirth>
            <firstName>Alex</firstName>
            <lastName>Aargauer</lastName>
            <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
            <sex>m</sex>
            <shortName>aua1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-02-18</dateOfBirth>
            <firstName>Stefan</firstName>
            <lastName>Abacus</lastName>
            <placeOfOrigin>Nyon</placeOfOrigin>
            <sex>m</sex>
            <shortName>acs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1980-09-24</dateOfBirth>
            <firstName>Renato</firstName>
            <lastName>Alliance</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>anr1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-07-15</dateOfBirth>
            <firstName>Christian</firstName>
            <lastName>Bekler</lastName>
            <placeOfOrigin>Lenzburg</placeOfOrigin>
            <sex>m</sex>
            <shortName>blc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-04-16</dateOfBirth>
            <firstName>Matthias</firstName>
            <lastName>Caceis</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>cem1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1976-10-28</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Dreyfus</lastName>
            <placeOfOrigin>Sarnen</placeOfOrigin>
            <sex>m</sex>
            <shortName>dfd1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1966-09-06</dateOfBirth>
            <firstName>Thomas</firstName>
            <lastName>Dritten</lastName>
            <placeOfOrigin>Lausanne</placeOfOrigin>
            <sex>m</sex>
            <shortName>dtt1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1959-07-25</dateOfBirth>
            <firstName>Stephanie</firstName>
            <lastName>Fortis</lastName>
            <placeOfOrigin>Oberwil</placeOfOrigin>
            <sex>f</sex>
            <shortName>fts1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-08-18</dateOfBirth>
            <firstName>Marcel</firstName>
            <lastName>Hard</lastName>
            <placeOfOrigin>Zürich</placeOfOrigin>
            <sex>m</sex>
            <shortName>ham1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1967-03-25</dateOfBirth>
            <firstName>Simon</firstName>
            <lastName>Hasbec</lastName>
            <placeOfOrigin>Genf</placeOfOrigin>
            <sex>m</sex>
            <shortName>hbs1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1964-06-28</dateOfBirth>
            <firstName>Christiane</firstName>
            <lastName>Kaslin</lastName>
            <placeOfOrigin>Luzern</placeOfOrigin>
            <sex>f</sex>
            <shortName>klc1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1968-01-19</dateOfBirth>
            <firstName>Daniel</firstName>
            <lastName>Lombard</lastName>
            <placeOfOrigin>Baar</placeOfOrigin>
            <sex>m</sex>
            <shortName>lad1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1965-04-24</dateOfBirth>
            <firstName>Dominik</firstName>
            <lastName>Oppenheim</lastName>
            <placeOfOrigin>Schaffhausen</placeOfOrigin>
            <sex>m</sex>
            <shortName>oed1</shortName>
         </student>
      </rating>
      <rating>
         <student>
            <dateOfBirth>1961-06-24</dateOfBirth>
            <firstName>Philippe</firstName>
            <lastName>Sarasin</lastName>
            <placeOfOrigin>Altdorf</placeOfOrigin>
            <sex>m</sex>
            <shortName>ssp1</shortName>
         </student>
      </rating>
      <shortName>Proj</shortName>
      <courseWeight>1.6</courseWeight>
   </course>
</module>
