<?xml version="1.0" encoding="UTF-8"?>
<students>
   <student>
      <firstName>Alex</firstName>
      <lastName>Aargauer</lastName>
      <dateOfBirth>1966-09-18</dateOfBirth>
      <placeOfOrigin>Frankfurt am Main</placeOfOrigin>
      <sex>m</sex>
      <shortName>aua1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>99</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating/>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>89</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>97</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>16</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>95</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Stefan</firstName>
      <lastName>Abacus</lastName>
      <dateOfBirth>1966-02-18</dateOfBirth>
      <placeOfOrigin>Nyon</placeOfOrigin>
      <sex>m</sex>
      <shortName>acs1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>21</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>23</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>51</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>86</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>77</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>25</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Renato</firstName>
      <lastName>Alliance</lastName>
      <dateOfBirth>1980-09-24</dateOfBirth>
      <placeOfOrigin>Zürich</placeOfOrigin>
      <sex>m</sex>
      <shortName>anr1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>99</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>15</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>82</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>61</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>60</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>17</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Christian</firstName>
      <lastName>Bekler</lastName>
      <dateOfBirth>1967-07-15</dateOfBirth>
      <placeOfOrigin>Lenzburg</placeOfOrigin>
      <sex>m</sex>
      <shortName>blc1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>6</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>80</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>81</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>63</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>72</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>73</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Matthias</firstName>
      <lastName>Caceis</lastName>
      <dateOfBirth>1959-04-16</dateOfBirth>
      <placeOfOrigin>Zürich</placeOfOrigin>
      <sex>m</sex>
      <shortName>cem1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>49</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>25</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>78</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>13</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>34</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>29</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Daniel</firstName>
      <lastName>Dreyfus</lastName>
      <dateOfBirth>1976-10-28</dateOfBirth>
      <placeOfOrigin>Sarnen</placeOfOrigin>
      <sex>m</sex>
      <shortName>dfd1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>45</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>35</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>43</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>10</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>22</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>81</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Thomas</firstName>
      <lastName>Dritten</lastName>
      <dateOfBirth>1966-09-06</dateOfBirth>
      <placeOfOrigin>Lausanne</placeOfOrigin>
      <sex>m</sex>
      <shortName>dtt1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>35</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>33</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>59</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>99</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>13</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>73</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Stephanie</firstName>
      <lastName>Fortis</lastName>
      <dateOfBirth>1959-07-25</dateOfBirth>
      <placeOfOrigin>Oberwil</placeOfOrigin>
      <sex>f</sex>
      <shortName>fts1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>22</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>92</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>94</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>92</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>78</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>15</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Marcel</firstName>
      <lastName>Hard</lastName>
      <dateOfBirth>1968-08-18</dateOfBirth>
      <placeOfOrigin>Zürich</placeOfOrigin>
      <sex>m</sex>
      <shortName>ham1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>42</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>67</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>6</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>29</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>30</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>64</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Simon</firstName>
      <lastName>Hasbec</lastName>
      <dateOfBirth>1967-03-25</dateOfBirth>
      <placeOfOrigin>Genf</placeOfOrigin>
      <sex>m</sex>
      <shortName>hbs1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>27</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>45</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>43</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>83</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>81</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>56</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Christiane</firstName>
      <lastName>Kaslin</lastName>
      <dateOfBirth>1964-06-28</dateOfBirth>
      <placeOfOrigin>Luzern</placeOfOrigin>
      <sex>f</sex>
      <shortName>klc1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>38</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>21</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>95</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>6</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>51</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>35</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Daniel</firstName>
      <lastName>Lombard</lastName>
      <dateOfBirth>1968-01-19</dateOfBirth>
      <placeOfOrigin>Baar</placeOfOrigin>
      <sex>m</sex>
      <shortName>lad1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>21</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>1</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>42</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>5</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>2</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>100</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Dominik</firstName>
      <lastName>Oppenheim</lastName>
      <dateOfBirth>1965-04-24</dateOfBirth>
      <placeOfOrigin>Schaffhausen</placeOfOrigin>
      <sex>m</sex>
      <shortName>oed1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>69</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>59</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>87</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>59</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>32</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating/>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
   <student>
      <firstName>Philippe</firstName>
      <lastName>Sarasin</lastName>
      <dateOfBirth>1961-06-24</dateOfBirth>
      <placeOfOrigin>Altdorf</placeOfOrigin>
      <sex>m</sex>
      <shortName>ssp1</shortName>
      <courses>
         <name>Java</name>
         <weight>1.8</weight>
         <rating>34</rating>
      </courses>
      <courses>
         <name>Datenstrukturen und Algorithmen</name>
         <weight>1.8</weight>
         <rating>11</rating>
      </courses>
      <courses>
         <name>Relationale Datenbanken und SQL</name>
         <weight>1.6</weight>
         <rating>57</rating>
      </courses>
      <courses>
         <name>XML Technologien</name>
         <weight>1.6</weight>
         <rating>47</rating>
      </courses>
      <courses>
         <name>GUI/Ergonomie</name>
         <weight>1.6</weight>
         <rating>67</rating>
      </courses>
      <courses>
         <name>Projekt</name>
         <weight>1.6</weight>
         <rating>93</rating>
      </courses>
      <module>
         <name>Software Development</name>
         <startDate>2016-03-23</startDate>
         <endDate>2016-09-23</endDate>
      </module>
   </student>
</students>
